   body{
    background-color:azure;
   }
   hr{
        
        border-style: dotted none none none;
        border-color:dimgray;
        
        border-width:5px;
        width:150px;
        
    }
    h1{
        
        background-color:#66BFBF;
        color: antiquewhite;
    }
h3{
    background-color:#66BFBF;
    color:antiquewhite;
    font-style: inherit;
}
h2{
    font-style: italic;
}
li{
    font-style:oblique;
}
table{
    font-style: oblique;
    
}
p{
   color:blueviolet;
   
   text-align: left;
   size: 10%;
}
h5{
    text-align:center;
    color:#393646;
}